<% if logged_in?(:site_admin) %>
<nav class="breadcrumb">
	<%= link_to blog.status, toggle_status_blog_path(blog), class: "breadcrumb-item", style: blog_status_color(blog) %>
	<%= link_to 'Edit', edit_blog_path(blog), class: "breadcrumb-item"  %>
	<%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "breadcrumb-item" %>
</nav>
<% end %>