<div class="blog-post">
	<p><%= blog.title.upcase %></p>
	<p>Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>

	<%= render partial: 'blogs/admin_actions', locals: { blog: blog } %>

	<p>
		<%= blog.body %>
	</p>
</div>