<h1>This is a site about Nina's Enterprise</h1>
<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "profile.jpg", width: 300, alt: "Profile image" %>
	</div>
	
	<div class="col-md-8">
		<p>Here a short description about ...</p>		
	</div>
</div>