<div class="inner cover">
  <h1 class="cover-heading">Welcome to the Nina's Enterprise</h1>
  <p class="lead">But what Nina's Enterprise does? Click below to know more</p>
  <p class="lead">
    <%= link_to "About me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

